{
    "emailFeedback": "",
    "emailInfo": "",
    "urlOtpEndpoint": "",
    "isOtpGraphQL": false,
    "urlTilesStreetsEndpoint": "",
    "urlTilesSatelliteEndpoint": "",
    "urlTilesTerrainEndpoint": "",
    "urlRouteFeedback": "",
    "urlDonate": "",
    "urlWebsite": "",
    "urlFacebook": "",
    "urlTwitter": "",
    "urlInstagram": "",
    "urlShare": ""
}
