<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gomez Radio.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
				<key>dateExpires</key>
				<string>24/3/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D9B22B6BD414643611153B01F4F63BF1A9448489</string>
						<key>dateExpires</key>
						<string>24/3/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4U8VUC4Z6</string>
						<key>name</key>
						<string>Vladimir Garcia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D4U8VUC4Z6.com.gwwwradio.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D4U8VUC4Z6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>53590a10-114c-484b-9c82-3486685a66bd</string>
				<key>dateExpires</key>
				<string>24/3/24</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.gwwwradio.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D4U8VUC4Z6</string>
				<key>name</key>
				<string>Vladimir Garcia</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.0</string>
		</dict>
	</array>
</dict>
</plist>
