name: trufi_core_mono
publish_to: none
environment:
  sdk: ^3.9.0

workspace:
  - apps/trufi_core
  - apps/example
  - packages/core/tr_translations

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^10.0.0
