name: trufi_core_mono
environment:
  sdk: ^3.10.0
  flutter: ">=3.0.0 <4.0.0"

workspace:
  - apps/trufi_core
  - apps/example

  # General Packages
  - packages/trufi_core_interfaces
  - packages/trufi_core_storage

  # Feature Packages
  - packages/trufi_core_about
  - packages/trufi_core_maps
  - packages/trufi_core_routing
  - packages/trufi_core_utils
  - packages/trufi_core_base_widgets
  - packages/trufi_core_custom_material

dev_dependencies:
  melos: ^7.3.0

melos:
  
  command:
    bootstrap:
      runPubGetInParallel: true
      environment:
        sdk: ^3.10.0
        flutter: ">=3.0.0 <4.0.0"
      dev_dependencies:
        flutter_lints: ^6.0.0
  scripts:
    analyze:
      run: flutter analyze --no-fatal-infos
      description: Run Flutter analyze on all packages
    
    format:
      run: dart format .
      description: Format all Dart files
    
    test:
      run: flutter test
      description: Run tests for all packages
