name: trufi_core
description: A Flutter Plugin for Public Transport.
version: 3.4.3
homepage: https://www.trufi-association.org/
repository: https://github.com/trufi-association/trufi-core

environment:
  sdk: '>=2.19.4 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  app_review: ^2.1.2+1
  async: ^2.10.0 
  async_executor: ^0.0.2
  cached_network_image: ^3.2.3
  collection: ^1.17.0
  device_info_plus: ^8.1.0
  diff_match_patch: ^0.4.1
  equatable: ^2.0.5
  flare_flutter: ^3.0.2
  flutter_bloc: ^8.1.2
  flutter_map: ^3.1.0
  flutter_svg: ^2.0.4
  geolocator: ^9.0.2
  graphql: ^5.1.3
  hive: ^2.2.3
  http: ^0.13.5
  intl: ^0.17.0
  latlong2: ^0.8.1
  package_info_plus: ^1.0.0
  path_provider: ^2.0.14
  provider: ^6.0.5
  routemaster: ^1.0.1
  rxdart: ^0.27.7
  share_plus: ^6.3.1
  synchronized: ^3.0.0+3
  uni_links: ^0.5.1
  url_launcher: ^6.1.10
  back_button_interceptor: ^6.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  assets:
    - assets/images/trufi-logo.png
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
