name: trufi_core
description: "A new Flutter package project."
version: 0.0.1
homepage:
publish_to: none

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

workspace:
  - packages/trufi_core_maps
  - packages/trufi_core_routing
  - example

melos:
  command:
    bootstrap:
      runPubGetInParallel: true
    version:
      branch: main
      workspaceChangelog: true
  scripts:
    analyze:
      run: melos exec -c 1 -- flutter analyze --no-fatal-infos
      description: Run flutter analyze in all packages
    format:
      run: melos exec -c 1 -- dart format .
      description: Run dart format in all packages
    test:
      run: melos exec -c 1 -- flutter test
      description: Run flutter test in all packages
    clean:
      run: melos exec -c 1 -- flutter clean
      description: Run flutter clean in all packages

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  trufi_core_maps:
    path: packages/trufi_core_maps
  trufi_core_routing:
    path: packages/trufi_core_routing
  flutter_svg: ^2.2.3
  geolocator: ^14.0.1
  go_router: ^14.6.2
  graphql: ^5.2.2
  http: ^1.2.2
  latlong2: ^0.9.1
  package_info_plus: ^9.0.0
  provider: ^6.1.5+1
  shared_preferences: ^2.3.3
  url_launcher: ^6.3.2
  uuid: ^4.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
