name: trufi_app
description: Trufi Beta

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
          sdk: flutter

  flutter_map: ^0.1.4
  #flutter_map:
  #  git:
  #    url: git@github.com:ubilabs/flutter_map.git
  #    ref: feat/customise_polylines

  cupertino_icons: ^0.1.2
  flutter_svg: ^0.6.0
  geolocator: ^2.0.1
  http: ^0.11.3+17
  path_provider: ^0.4.1
  rxdart: ^0.18.1
  synchronized: ^1.5.2
  shared_preferences: ^0.4.2
  url_launcher: ^3.0.3
  mockito: 3.0.0
  simple_permissions: ^0.1.8


dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/data/places.json
    - assets/data/team.txt
    - assets/data/cochabamba-gtfs.zip
    - assets/images/map_marker.svg
    - assets/tiles/8/
    - assets/tiles/9/
    - assets/tiles/10/
    - assets/tiles/11/
    - assets/tiles/12/
    - assets/tiles/13/
    - assets/tiles/14/
    # - assets/tiles/15/
    - test/assets/tile.png

  fonts:
  - family: CircleIcon
    fonts:
    - asset: fonts/CircleIcon.ttf

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
