name: trufi_core_maps
description: A Flutter package for map rendering with support for flutter_map and maplibre_gl.
version: 0.0.1
homepage: https://github.com/trufi-association/trufi-core
resolution: workspace

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_map: ^8.2.2
  flutter_svg: ^2.2.1
  latlong2: ^0.9.1
  maplibre_gl: ^0.22.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
