# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Flutter PR analyze

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the project
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: "17.x"
      - name: Install Flutter Actions
        uses: subosito/flutter-action@v1
        with:
          flutter-version: "3.38.3"
      - name: Bootstrap with Melos
        uses: bluefireteam/melos-action@v3
      - name: Run Flutter Analyze
        run: melos exec -- flutter analyze --no-fatal-infos --no-fatal-warnings
